.authRegFormContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--text-background-white);
}

.logo {
  margin-bottom: 50px;
  width: 120px;
  height: 30px;
  background-image: url('../../images/logo_small.svg');
  background-size: cover;
}

.inputsWrapper {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .authRegFormContainer {
    position: static;
    width: 540px;
    padding-top: 40px;
    padding-bottom: 60px;
    border-radius: 20px;
  }
} ;
