.tableWrapper {
  padding-top: 46px;
  padding-left: 30px;
  max-height: 60vh;
}
table {
  border-collapse: collapse;
}

.tableHeader {
  height: 60px;

  font-style: 400;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  border: none;
  box-shadow: none;
}

table th:first-child {
  border-radius: 30px 0 0 30px;
}

table th:last-child {
  border-radius: 0 30px 30px 0;
}
td {
  height: 60px;
  padding: 15px;
}
td:nth-child(1) {
  width: 100px;
  text-align: center;
}
td:nth-child(2) {
  width: 100px;
  text-align: center;
}
td:nth-child(3) {
  width: 100px;
}
td:nth-child(4) {
  width: 135px;
}
td:nth-child(5) {
  width: 100px;
  text-align: right;
}
td:nth-child(6) {
  width: 100px;
  text-align: right;
}

tr {
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  border-bottom: 1px solid #dcdcdf;
  box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.6);
}
thead {
  background: #fff;
  border: none;
  color: #000;
}
th {
  padding: 15px;
  background: #fff;
  border-color: transparent;
}
