.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.title {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: var(--secondary-font);
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.typeLabel {
  display: block;
  margin-bottom: 40px;
  text-align: center;
}

.typeInput {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.categoryInput {
  width: 100%;
  height: 34px;
  margin-bottom: 40px;
  border:none;
  border-bottom: 1px solid #E0E0E0;
}

.categoryInput > option {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.sumInput {
  text-align: center;
  width: 100%;
  height: 34px;
  margin-bottom: 40px;
  border:none;
  border-bottom: 1px solid #E0E0E0;
}

.dateCont {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
}

.dateInput {
  width: 100%;
  height: 34px;
  padding-left: 20px;
  border:none;
  border-bottom: 1px solid #E0E0E0;
}

.dateInputCont {
  display: inline-block;
}

.calendarIcon {
  position: absolute;
  top: 6px;
  right: 2px;
  pointer-events: none;
}

.commentInput {
  width: 100%;
  height: 74px;
  margin-bottom: 40px;
  padding-left: 20px;
  border:none;
  border-bottom: 1px solid #E0E0E0;
  resize: none;
}

.buttonsWrapper {
  width: 280px;
  margin: 0 auto;
}

.formButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--accent-color-ok);
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 20px;
  cursor: pointer;
}

.formButton a {
  color: inherit;
  text-decoration: none;
  font-family: var(--main-font);
  letter-spacing: 0.1em;
}

.ok {
  color: var(--text-background-white);
  background-color: var(--accent-color-ok);
  border-color: var(--accent-color-ok);
  margin-bottom: 20px;
}

.notOk {
  color: var(--text-border-icon-blue);
  background-color: #ffffff;
  border-color: var(--text-border-icon-blue);
}

@media screen and (max-height: 674px) {
    .container {
    top: 0;
    transform: translate(-50%, 0%);
  }
}

@media screen and (max-width: 767px) {
  .closeButton {
    display: none;
  }

  .dateCont,
  .dateInputCont {
    width: 100%;
  }
}


@media screen and (min-width: 768px) {
  .container {
    width: 540px;
    padding: 40px 65px 60px 65px;
    border-radius: 20px;
  }

  .closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 16px;
    height: 16px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }

  .sumInput {
    display: inline-block;
    width: 190px;
    margin-right: 30px;
  }

  .dateInput {
    display: inline-block;
    width: 190px;
  }

  .commentInput {
    height: 34px;
  }
  
  .buttonsWrapper {
    width: 300px;
  }
}