@media screen and (min-width: 768px) {
  .registerView {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }

  .registerViewHead {
    width: 540px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
  }

  .registerViewTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    line-height: 45px;
  }

  .registerViewImage {
    margin-right: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .registerView {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 52px;
  }

  .registerViewHead {
    width: 435px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-right: 144px;
    margin-bottom: 0;
  }

  .registerViewTitle {
    margin: 31px 0 15px 0;
  }
} ;
